# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
!packages/tokens/dist
!packages/tokens/dist/**
.next
out
build
*.tsbuildinfo

# Turbo
.turbo

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Storybook
storybook-static

# Misc
*.tgz
